.sidebar {
    display: grid;
    grid-template-rows: auto 1fr auto;
}
.sidebar__title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: #000000;
}
.sidebar__menu {
    grid-template-rows: repeat(6, 30px);
}
.sidebar__item {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: var(--black);
    text-decoration: none;
}
.sidebar__main-page-link {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    text-decoration: none;
}
.component {
    background: rgb(44, 66, 126);
}