
/* .button:hover ~ .modal {
    display: block;
} */
.wrapper {
    position: absolute;
    background: #C4C4C4;
    opacity: 0.5;   
    padding: 40px 40px 47px 40px; 
}
.modal {
    background: var(--white);
    position: relative;
    padding-bottom: 100%;
    padding: 30px 40px 33px 40px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--grey-4);
}
.modal__title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #334D6E;
    padding-bottom: 14px;
}
.modal__cross {
    text-align: right;
}
