.histogram {
    height: 50px;
    margin-top: 39px;
    display: flex;
    background: var(--white);
    padding: 19px 24px 24px 24px;
    flex-direction: column;
}
.histogram__title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--black);
    opacity: 0.8;
    text-align: left;
    align-self: flex-start;
}
.histogram__numbers {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: var(--black);
    text-align: left;
    /* margin-top: 6px; */
    align-self: flex-start;
}
.histogram__link {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: right;
    color: var(--primary);
    align-self: flex-end;
}

.histogram__chart {
    align-self: center;
    padding-top: 39px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
}
.histogram__column {
    background: var(--primery);
    flex-grow: 1;
}