.histogram {
    height: 50px;
    margin-top: 39px;
    display: flex;
    background: var(--white);
    padding: 19px 24px 24px 24px;
    flex-direction: column;
}
.histogram-title__wrapper {
    display: flex;
    justify-content: space-between;
}
.histogram__title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--black);
    opacity: 0.8;
}
.histogram__numbers {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: var(--black);
}
.histogram__link {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: right;
    color: var(--primary);
}

.histogram__chart {
    display: flex;
    align-items: flex-end;
    flex-wrap: nowrap;
    height: 50px;
    margin-top: 30px;
}
.histogram__column {
    background: var(--primery);
    flex-grow: 1;
}