.avatar {
    height: 102px; 
    width: 102px;
    border: 1px solid black;
    border-radius: 50%;
    overflow: hidden;
}
.avatar__img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}