
.tooltip {
    position: relative;
    display: inline-block;
   
}
.tooltip__helper {
    display: none;
}
.tooltip__trigger {
    width: 24px;
    height: 24px;
    cursor: pointer;  
}
.tooltip__trigger:hover ~.tooltip__helper {
    display: block;
} 
.tooltip__helper {
   
    background: #4263EB;
    box-shadow: 0px 2px 4px rgba(33, 36, 41, 0.05);
    border-radius: 10px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: var(--grey-2);
    padding: 13px;
    white-space: nowrap;
    bottom: calc(100% + 10px);
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
}
.tooltip__helper:before {
    content: "";
    top: 100%;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    border: 10px solid transparent;
    border-top: 10px solid #4263EB;
}
.icon {
    fill: #212429;
    width: 24px;
    height: 24px;
}